
.auth-form,
.login-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    &__question {
        margin: 5px;
    }
}
.email-field{
    position: relative;
    &__input{
        width: calc(100% - 1rem);
        ~ span {
            position: absolute;
            top: 0;
            right: 0;
            line-height: 7rem;
        }
    }
}
.busy-email ~ span {
    &::after {
        content: url(/assets/icons/email-alert.svg);
    }
}
.free-email ~ span {
    &::after {
        content: url(/assets/icons/email-check.svg);
    }
}
.auth-form__email{
    width: 100%;
}



.validation-error,
.error {
    color: red;
    font-size: xx-small;
}