@import 'auth.scss';
@import 'profile.scss';

* {
    padding: 0;
    margin: 0;
    font-family: monospace, Helvetica, Arial, sans-serif;
}

body {
    min-height: 100vh;
    margin: 0 20px;
}

label,
input,
button {
    line-height: 2rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"] {
    line-height: 2rem;
    padding: 0 0.5rem;

    border: solid 1px #ccc;
    outline: unset;
}


.lang_form {
    display: flex;
    flex-direction: row-reverse;
}
