.profile{
    margin: auto;
    width: 900px;
    &_cart{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_image{
        width: 300px;
        height: 300px;

        img{
            width: 100%;
        }
    }
    &_fullname, &_email{
        width: 300px;
        margin-top: 1rem;
    }
}